html{
	font-size: 10px;
	height: 100%;
	width: 100%;
}
body{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.box{
	width: 30rem;
	height: 30rem;
	overflow: hidden;
	border-radius: 20%;
	z-index: 2;
}

.box::after{
	position: relative;
	content: '';
	display: block;
	width: 100%;
	height: 2000px;
	background: linear-gradient(135deg, #5335cf 0%, #de005e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
	animation: animatebg 8s linear infinite;
}

@keyframes animatebg {
	0%{
		top: -30rem;
	}
	50%{
		top: -2000px;
	}
	100%{
		top: -30rem;
	}
}
.logo{
	position: relative;
	width: 100%;
	height: 100%;
}
.logo div{
	border: 12px solid white;
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	z-index: 2;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.logo-border{
	width: 74%;
	height: 74%;
	border-radius: 20%;
	margin-left: -37%;
	margin-top: -37%;
	
}
.logo-circle{
	border-radius: 50%;
	width: 50%;
	height: 50%;
	margin-left: -25%;
	margin-top: -25%;
}
.logo-point{
	border-radius: 100%;
	-webkit-margin-top: -25%;
	-moz-margin-top: -25%;
	-ms-margin-top: -25%;
	-o-margin-top: -25%;
	margin-top: -27%;
	margin-left: 18%;
}
@keyframes animatebox {
	0%{
		transform: scale(0);
		border-radius: 10em;
	}
	2.5%{
		transform: scale(1.1);
		border-radius: 30px;
	}
	5%{
		transform: scale(1);
		border-radius: 50px;
	}
	50%{
		transform: scale(0.9);
		border-radius: 50px;
	}
	80%{
		transform: scale(1.3);
		border-radius: 50px;
	}
	100%{
		transform: scale(0);
	}
}
.box{
	-webkit-animation: animatebox 10s infinite  alternate;
	-o-animation: animatebox 10s infinite alternate;
	animation: animatebox 10s infinite alternate;
}

@keyframes animateborder {
	0%{
		transform: scale(0);
		border-radius: 10em;
		opacity: 0;
	}
	2%{
		opacity: 0;
	}
	18%{
		transform: scale(1);
		border-radius: 20%;
		opacity: 1;
	}

	88%{
		transform: scale(1);
		border-radius: 30%;
		opacity: 1;
	}
	90%{
		transform: scale(1.1);
		border-radius: 20%;
	}
	95%{
		transform: scale(1);
		border-radius: 100%;
	}
	100%{
		transform: scale(1);
		border-radius: 100%;
	}
	
}
.logo-border{
	-webkit-animation: animateborder 5s infinite  alternate;
	-o-animation: animateborder 5s infinite alternate;
	animation: animateborder 5s infinite alternate;
}

@keyframes animatecircle {
	0%{
		transform: scale(0);
		opacity: 0;
	}
	5%{
		transform: scale(0);
		opacity: 0;
	}
	10%{
		transform: scale(1.3);
		opacity: 1;
	}
	15%{
		transform: scale(1);
		opacity: 1;
	}
	95%{
		transform: scale(1);
		background-color: transparent;
	}
	97%{
		transform: scale(1.2);
		background-color: #fff;
	}
	100%{
		transform: scale(1);
	}
}
.logo-circle{
	-webkit-animation: animatecircle 5s infinite  alternate;
	-o-animation: animatecircle 5s infinite alternate;
	animation: animatecircle 5s infinite  alternate;
}

@keyframes animatepoint {
	0%{
		opacity: 0;
	}
	10%{
		opacity: 0;
	}
	25%{
		opacity: 1;
	}
	75%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
.logo-point{
	-webkit-animation: animatepoint 5s infinite  alternate;
	-o-animation: animatepoint 5s infinite alternate;
	animation: animatepoint 5s infinite  alternate;
}